@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
header,section,footer,nav,aside,article,hgroup{
	display:block;
}
body{
	text-align:center;
}

#top_header{
	background: linear-gradient(black,white);/* Standard syntax */;
	border: 1px solid blue;
	padding: 10px;
}

#top_menu{
background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari */
background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1), rgba(255,0,0,0));
	color: white;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 1px;
	font: 11px Tahoma;
}
#map{
	width:100%;
	height:500px;
}